@import 'config/**/*.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
html {
    height: 100%;
    font-size: 16px;
}

body {
    font-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    color: #484340;
}
section, div{
    width: 100%;
}
ul,figure{
    margin: 0;
}
a:hover{
    text-decoration: none;
}

.container{
    max-width: 1230px;
}


.orange-text{
    color: #f16141;
}
.white-text{
    color: #fff;
}
.grey-text{    
    color: #afa5a3;
}
.grey-bg{
    background: #f7f7f7;
}
.dark-bg{
    background: #171513;
}
.btn {
    border-radius: 15px;
    font-size: 17px;
    padding: 3px 23px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-orange {
    color: #fff;
    background: #ef3b00;
}
.btn-orange:hover{
    color: #ef3b00;
    background: #fff;
}
.overlay {
    position: relative;
}

.overlay:after {
    content: "";
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}
.overlay > div {
    z-index: 9;
    position: relative;
}


//responsive css goes here

//@media (max-width:991px) {
//    
//}
@media (max-width:767px) {
   body {
        font-size: 14px;
    } 
    button:focus{
        outline: none;
    }
}
//@media (max-width:460px) {
//    
//}