<section class="landing-banner overlay text-center">
    <div class="container">
        <h1 class="white-text">Integer bibendum sit amet <br /> arcu vel egestas.</h1>
            <ul class="service-block list-unstyled white-text">
                <li>
                    <figure>
                       <img src="/images/service1.png" alt="service" />
                        <figcaption><a href="#" class="white-text" title="Service Name">Service Name</a></figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                       <img src="/images/service2.png" alt="service" />
                        <figcaption><a href="#" class="white-text" title="Service Name">Service Name</a></figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                       <img src="/images/service3.png" alt="service" />
                        <figcaption><a href="#" class="white-text" title="Service Name">Service Name</a></figcaption>
                    </figure>
                </li>
            </ul>
    </div>
</section>