<section class="footer dark-bg grey-text">
    <div class="container">
        <p class="m-0">&copy; 2017 Company. All Rights Reserved.</p>
        <div class="social-inks">
            <p class="m-0">Follow us on:</p>
            <ul class="list-unstyled">
                <li><a href="#" title="Facebook"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#" title="Twitter"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" title="Email"><i class="fas fa-envelope-square"></i></a></li>
            </ul>
        </div>
    </div>
</section>