<section class="get-in-touch overlay white-text text-center">
    <div class="container">
        <h2>Convinced To Work With Us?</h2>
        <p>Company has helped agencies keep their promises to clients since 2005.</p>        
        
        <form class="needs-validation contact-form">
            <div class="form-row m-0">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Fullname" required></div>
                <div class="form-group col-md-4">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" required></div>
                <div class="form-group col-md-4">
                    <input type="tel" class="form-control m-0" id="inputNumber" placeholder="Phone Number" required> 
                    </div>
                <div class="form-group col-md-12">
                    <textarea class="form-control" id="Textarea" placeholder="Message in brief" rows="5" required></textarea>
                </div>
            </div>s
            <button type="submit" class="btn btn-orange" title="Submit">Submit</button>
        </form>
    </div>
</section>