<div class="nav-header dark-bg">
     <div class="container">
        <nav class="navbar navbar-expand-md">
            <button class="navbar-toggler white-text" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <a class="navbar-brand" href="#" title="Company Logo">COMPANY <span class="orange-text">LOGO</span></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link grey-text active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="About">About</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#" title="Our Story">Our Story</a>
                            <a class="dropdown-item" href="#" title="Why Company">Why Company</a>
                            <a class="dropdown-item" href="#" title="Success Stories">Success Stories</a>
                            <a class="dropdown-item" href="#" title="Careers">Careers</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link grey-text dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Services">Services</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#" title="Staffing">Staffing</a>
                            <a class="dropdown-item" href="#" title="Delivery Support">Delivery Support</a>
                            <a class="dropdown-item" href="#" title="Project Management">Project Management</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link grey-text dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Solutions">Solutions</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#" title="CMS Solutions">CMS Solutions</a>
                            <a class="dropdown-item" href="#" title="DevOps">DevOps</a>
                            <a class="dropdown-item" href="#" title="Marketing">Marketing</a>
                            <a class="dropdown-item" href="#" title="Quality Assurance">Quality Assurance</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link grey-text" href="#" title="Blog">Blog</a>
                    </li>
                    <li class="nav-item d-sm-none d-md-block">
                        <a class="nav-link grey-text btn btn-orange" title="Get In Touch" href="#"><i class="far fa-comment-alt"></i> Get In Touch</a>
                    </li>
                </ul>
            </div>            
            <a class="mobile-contact-icon white-text d-sm-block d-md-none" title="Get In Touch" href="#"><i class="far fa-comment-alt"></i></a>
        </nav>
    </div>
</div>