<section class="testimonial grey-bg">
    <div class="container">
        <h2 class="text-center">Testionials</h2>
        <div class="owl-carousel owl-theme testimonial-slider">
            <div class="item">
                    <p class="msg-shape"><i class="fas fa-quote-left"></i> uris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.</p>
                    <figure class="client-detail">
                       <img src="/images/client.png" alt="client" />
                        <figcaption><span>CLIENT NAME</span>Position, ORG</figcaption>
                    </figure>
            </div>
            <div class="item">
                    <p class="msg-shape"><i class="fas fa-quote-left"></i> Nunc ut ipsum iaculis, dictum magna id, lacinia ante. Nulla facilisi. Integer lobortis in risus eget volutpat. Donec interdum elit eget quam aliquam sodales. Vestibulum auctor auctor finibus. </p>
                    <figure class="client-detail">
                       <img src="/images/client.png" alt="client" />
                        <figcaption><span>CLIENT NAME</span>Position, ORG</figcaption>
                    </figure>
            </div>
            <div class="item">
                    <p class="msg-shape"><i class="fas fa-quote-left"></i> mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet. In maximus euismod egestas.</p>
                    <figure class="client-detail">
                       <img src="/images/client.png" alt="client" />
                        <figcaption><span>CLIENT NAME</span>Position, ORG</figcaption>
                    </figure>
            </div>
        </div>
<!--
        <div class="row mb-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
-->
    </div>
</section>